.card {
  width: $w-full;
  border: 0.5px solid $bg-slate;
  border-radius: $rounded;
  background: $bg-white;
  transition: all $transition-time-md $transition-fn;
  .card-head,
  .card-body {
    padding: $p-2;
  }
  .card-head {
    border-bottom: 0.5px solid $bg-slate;
  }
}

.card-hover {
  &:hover {
    box-shadow: 5px 5px 15px $bg-gray;
  }
}
