.switch {
  .switch-input {
    width: $w-full;
    appearance: none;
    display: none;
    position: relative;
    &:checked + .switch-slider .slider-dot {
      left: 50%;
    }
  }
  .switch-slider {
    width: $w-full;
    height: $h-full;
    display: block;
    padding: 0.2rem;
    border-radius: $rounded-xxl;
    background: $bg-slate;
    box-shadow: 0 0 5px $bg-slate;
    position: relative;
    cursor: pointer;
    transition: background-color $transition-time-sm $transition-fn;
    .slider-dot {
      height: $h-full;
      border-radius: $rounded-full;
      padding: 0.2rem;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      transition: left $transition-time-xs $transition-fn, width $transition-time-sm $transition-fn;
      .dot-center {
        width: $w-full;
        height: $h-full;
        border-radius: $rounded-full;
        background: $bg-white;
      }
    }
  }
}

// // Size
.switch-sm {
  width: $w-4;
  height: $h-2;
  .switch-slider {
    &:active .slider-dot {
      width: $w-2 + 0.5;
    }
    .slider-dot {
      width: $w-2;
    }
  }
}

.switch-md {
  width: $w-5;
  height: $h-2 + 0.5;
  .switch-slider {
    &:active .slider-dot {
      width: $w-3;
    }
    .slider-dot {
      width: $w-2 + 0.5;
    }
  }
}

.switch-lg {
  width: $w-6;
  height: $h-3;
  .switch-slider {
    &:active .slider-dot {
      width: $w-3 + 0.5;
    }
    .slider-dot {
      width: $w-3;
    }
  }
}

// Color
.switch-blue {
  .switch-input:checked + .switch-slider {
    background: $bg-blue;
  }
}

.switch-red {
  .switch-input:checked + .switch-slider {
    background: $bg-red;
  }
}

.switch-green {
  .switch-input:checked + .switch-slider {
    background: $bg-green;
  }
}

.switch-orange {
  .switch-input:checked + .switch-slider {
    background: $bg-orange;
  }
}

.switch-yellow {
  .switch-input:checked + .switch-slider {
    background: $bg-yellow;
  }
}

.switch-purple {
  .switch-input:checked + .switch-slider {
    background: $bg-purple;
  }
}

.switch-pink {
  .switch-input:checked + .switch-slider {
    background: $bg-pink;
  }
}
