.content {
  width: $w-full;
  transition: all $transition-time-sm $transition-fn;
}

.content-layout {
  margin-top: $m-5 + 1;
}

.content-resize {
  margin-left: 25rem;
  @include respond(mdTablet) {
    margin-left: 0;
  }
}

.content-shrinked {
  margin-left: 6rem;
}
